<!-- hardcoded test product page -->
<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <!-- Navigation -->
  <% include ../partials/navbar %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
          <div class="card-body">
            <h3 class="card-title">Renga Renga</h3>
            <h4>$13.95</h4>
            <p class="card-text">Arthropodium cirratum (rengarenga, renga lily, New Zealand rock lily, or maikaika) is a species of herbaceous perennial plant, endemic to New Zealand, where it may once have been farmed. It is used for medicine as well as food, and has symbolic importance in traditional Māori culture.<br /><br />
            The leaves are 30–60 cm (12–24 in) long and 3–10 cm (1.2–3.9 in) wide. The flower stalk often reaches one metre, and bears many white six-petalled flowers, in groups of two or three, each about 2 cm (0.8 in) across. The stamens are tricoloured - purple and white, with yellow at the curled end. The roots are 2–3 cm (0.8–1.2 in) wide. It occurs naturally north of Greymouth and Kaikoura near the sea and, as the name suggests, usually on rocks.<br />
            It is often grown as an ornamental. The rhizomes are edible when cooked and can be found throughout the year. The rhizomes were once eaten by the Māori after being cooked by hāngi. Colenso believed, for two reasons, that this plant was once cultivated by them: firstly, the plant grows much larger under cultivation than it usually does in the wild; and secondly it was often found near old deserted Māori homes and plantations. However, he lists it as only fourteenth in importance, in his list of eighteen kinds of wild vegetable food used by the Māori.</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

<!--This tag includes the footer section (adds the footer template to the page)-->
<% include ../partials/footer.ejs%>

</body>

</html>