<!-- hardcoded test product page -->
<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <!-- Navigation -->
  <% include ../partials/navbar %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
          <div class="card-body">
            <h3 class="card-title">Radiata/Monterey Pine</h3>
            <h4>$10.95</h4>
            <p class="card-text">Pinus radiata, family Pinaceae, the Monterey pine, insignis pine or radiata pine, is a species of pine native to the Central Coast of California and Mexico (Guadalupe Island and Cedros island).<br />
            P. radiata is a versatile, fast-growing, medium-density softwood, suitable for a wide range of uses. Its silviculture is highly developed, and is built on a firm foundation of over a century of research, observation and practice. It is often considered a model for growers of other plantation species. It is the most widely planted pine in the world, valued for rapid growth and desirable lumber and pulp qualities.<br />
            The Monterey pine (always called Pinus radiata in New Zealand) was first introduced into New Zealand in 1859 and today 89% of the country's plantation forests are of this species.[26] This includes the Kaingaroa Forest (on the central plateau of the North Island), which is one of the largest planted forests in the world. Mass plantings became common from 1900 in the Rotorua area where prison labour was used. In some areas it is considered an invasive species (termed a wilding conifer or more commonly wilding pine) where it has escaped from plantations. It is the most extensively used wood in New Zealand.<br />
            </p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

<!--This tag includes the footer section (adds the footer template to the page)-->
<% include ../partials/footer.ejs%>

</body>

</html>